div.footer1{
    width: 95%;
    display: inline-block;
    margin-top: 20px;
    direction: rtl;
    position: relative;
    left: calc(50% - 95% /2);
   
}
div.footer1>img{
    
    display: inline-block;
}
div.footer1>div.image7{
    display: inline-block;
    align-items: center;
    padding: 20px;
    margin: 10px;
}
div.footer1>div.image7>a{
    text-decoration: none;
    color: black;
    display:inline-block;
    text-align: right;
}
div.footer1>div.image7>a>img{
    display: block;
    margin-top: 20px;
    margin-left: 140px;
    width: 90px;
}
div.footer1>div.text3{
    display:inline-block;
    
}
div.footer1>div.text3>a{
    margin-top: 15px;
    display: block;
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
div.footer1>div.text4{
    margin-right: 90px;    
    display: inline-block;
}
div.footer1>div.text4>a{
    margin-top: 15px;
    display: block;
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
div.footer1>div.text5{
    margin-right: 90px;    
    display: inline-block;
    position: absolute;
    margin-top: 22px;
}
div.footer1>div.text5>a{
    margin-top: 15px;
    display: block;
    text-decoration: none;
    color: gray;
    font-size: 10px;
   
}
div.footer1>div.social{
    position: relative;
    width: 100px;
    right: 65%;
    bottom: 100px;
}
div.footer1>div.social>ul{
    list-style: none;
    display:flex;
    margin: 5px;
    color: lightgray;
}
div.footer1>div.social>ul>li{
    display: block;
    position: relative;
    font-size: 35px;
    margin: 0 15px;
   
}
div.footer1>div.social>ul>li>i{
    display: inline-block;
    margin-right: 10px;
}
div.footer1>div.social>input{
    margin-top: 20px;
    width: 270px;
    height: 35px;
    background-color:rgb(240,240,241);
    border-radius: 6px;
    border: 5px solid;
    border-color:#f0f0f1;
    display: inline-block;
}
div.footer1>div.social>a{
    display: inline-block;
    padding: 6px;
    color: gray;
    text-decoration: none;
    background-color:rgb(240,240,241);
    margin: 5px;
    border: 5px solid;
    border-color:#f0f0f1;
    border-radius: 10px;
}