div.items{
  
    width: 96%;
    position: relative;
    left: calc(50% - 96% / 2);
    direction: rtl;
    display: inline-block;
    text-align: center;
}
div.items>a{
    margin: 40px;
    display: inline-block;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 11px;
}
div.items>a>img{
    width: 60px;

}
div.items>a>span{
    display:block;
    text-align: center;
    font-family: iranSans;
}
@font-face{
    font-family: iranSans;
    src: url("../fonts/A-Iranian-Sans/Iranian\ Sans.ttf");
}
