div.logo{
    width: 96%;
    display: inline-block;
    border: 3px solid #f0f0f1;
    padding: 2px;
    margin-top: 20px;
    position: relative;
    left: calc(50% - 96% / 2);
    border-radius: 7px;
  
}
div.logo>h1{
    font-family: iranSans;
    font-size: 20px;
    text-align: center;
}
div.logo>div.image5{
    padding: 10px;
    width: 96%;
    position: relative;
    left: calc(50% - 96% /2);
    display: inline-block;
    align-items: center;
    text-align: center;
    
}
div.logo>div.images5>img{
    
    margin-left: 40px;
    margin: 20px;
    display: inline-block;
}

.vl {
  margin: 25px;
  display: inline-block;
  border-left: 3px solid #f0f0f1;
  height: 150px;
}
