*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --direction:rtl;
    --color-icon-high-emphasis: #424750;
    --color-icon-low-emphasis: #a1a3a8;
    --color-icon-high-emphasis:#424750;
    --color-icon-rating-0-2: #f9bc00;
    --color-icon-white: #fff;
    --color-delivery-jet:#a63489;
}
